{% extends "tech_savvy_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<body>
  <div class="user-post-container">
    {% if form %}
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Reset Password</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Reset Password</button>
        </div>
      </form>
    {% else %}
      <h5>Something went wrong. Try resetting again.</h5>
      <a href="{% url 'password_reset' %}"><small>Forgot password</small></a>
    {% endif %}
  </div>
</body>

{% endblock content %}