{% extends "tech_savvy_app/base.html" %}
{% block content %}

<body>
  <div class="user-post-container">
    <h2>About Tech Savvy Blog</h2>
    <p>By Sophanda Long</p>
    <p>
      Tech Savvy Blog is a Python and Django-powered website that caters to tech enthusiasts. 
      With user authentication, blog posting, commenting capabilities, and profile image uploads, 
      it offers a secure and interactive platform for users to share their tech insights and engage in discussions. 
      Join to explore the dynamic world of technology and connect with like-minded individuals on Tech Savvy Blog.
    </p>
  </div>
</body>

{% endblock content %}