{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'tech_savvy_app/main.css' %}">

  {% if title %}
    <title>Tech Savvy Blog - {{ title }}</title>
  {% else %}
    <title>Tech Savvy Blog</title>
  {% endif %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <a class="navbar-brand" href="{% url 'home' %}"><img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yMi41IDdjLjgyOCAwIDEuNS42NzIgMS41IDEuNXYxNGMwIC44MjYtLjY3MSAxLjUtMS41IDEuNWgtN2MtLjgyOSAwLTEuNS0uNjc1LTEuNS0xLjV2LTE0YzAtLjgyNy42NzMtMS41IDEuNS0xLjVoN3ptLTguOTA3IDE3aC05LjU5M2wyLjU5OS0zaDYuNDAxdjEuODA0YzAgLjU3OS4zMzYgMS4wOS41OTMgMS4xOTZ6bTUuNDA3LTFjLS41NTMgMC0xLS40NDgtMS0xcy40NDctMSAxLTFjLjU1MiAwIC45OTkuNDQ4Ljk5OSAxcy0uNDQ3IDEtLjk5OSAxem00LTN2LTEwLjAyNGgtOHYxMC4wMjRoOHptLTEtMTRoLTJ2LTRoLTE4djE1aDExdjJoLTEzdi0xOWgyMnY2em0tMi41IDNjLjI3NSAwIC41LS4yMjQuNS0uNXMtLjIyNS0uNS0uNS0uNWgtMWMtLjI3NiAwLS41LjIyNC0uNS41cy4yMjQuNS41LjVoMXoiLz48L3N2Zz4="> Tech Savvy Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-item nav-link" href="{% url 'all-post' %}">Latest Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
        </li>
    
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-item nav-link" href="{% url 'user-posts' user.username %}">Your Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
        {% endif %}
      </ul>

      <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'search' %}">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search-post">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div>
    {% if messages %}
      {% for message in messages %}
        <!-- message.tags is message.success, info, danger, etc. -->
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>