{% extends "tech_savvy_app/base.html" %}
{% block content %}
{% load tz %}

<body>
  <!-- changed post to object because that's what DetailView expects. -->
  <div class="all-post-container">
    <div class="detail-post-items">
      <div class="detail-author">
        <div>
          <img class="rounded post-img" src="{{ object.author.profile.image.url }}">
          <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
          <!-- django date format |date:"F d, Y"  -->
          <small class="text-muted">{{ object.date_posted }}</small>
        </div>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <hr/>
      <h2>{{ object.title }}</h2>
      <p>{{ object.content|safe }}</p>

    </div>
  </div>

  <div class="comments-container">
    <div class="comment-add-text">
      <strong>Comments</strong>
      <a class="btn btn-outline-info" href="{% url 'add-comment' post.id %}">Add Comment</a>
    </div>
    <hr/>
    <div class="scroll">
      {% if not post.comments.all %}
        No Comments
      {% else %}
        {% for comment in post.comments.all %}
          <strong>{{ comment.author }} </strong> - {{ comment.date_posted|date:"F d, Y" }}
          {% if comment.author == user %}<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete-comment' comment.id %}">Delete</a>{% endif %}
          <br/>
          {{ comment.content|safe }}
          <hr/>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</body>

{% endblock content %}